
.box {
    margin-bottom: 5px;
    border: 1px solid black;
    min-height: 100px;
    background-color: pink;
}
.mh_300 {
    min-height: 300px;
    background-color: beige;
}
.mh_250 {
    min-height: 250px;
    background-color: palevioletred;
}
.a_custom {
    background-color: aquamarine;
    border-color: black;
    border-radius: 0;
}